<div id="carouselExampleIndicators carl" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    
        <%= image_tag (@first_posts.avatar) , :class => 'd-block w-100 header_carl_image'%>
     
    </div>
   
      <%  @other_posts.each do |post| %>
        <div class="carousel-item">
          <%= image_tag (post.avatar) , :class => 'd-block w-100 header_carl_image'%>
        </div>
      <% end %>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<%# latest review section %>
<section class="latest_reviews container bars">
  <h1>latest reviews</h1>
  <div class="title-bar"></div>
  <div class="container latest-section">
    <div class="row">
      <%  @other_posts.each do |p| %>
        <div class="col-md-4 latest-containers">
          <div class="card">
            <%= image_tag (p.avatar) , :class => 'card-img-top'%>
            <div class="card-body">
              <h5 class="card-title"><%= p.title%></h5>
              <p class="card-text"><%= p.description%></p>
              <div class="read-more"> <%= link_to "read more", post_path(p) , :class => "button"%></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%# category sections %>
<section class="latest-category container bars">
  <h1>categories</h1>
  <div class="title-bar"></div>
  <div class="container latest-section">
    <div class="row">
      <% @category.each do |category| %>
        <div class="col-md-3 category-img">
          <div class="card">
            <%= image_tag (category.avatar) , :class => 'card-img-top'%>
            <div class="card-body">
              <%= link_to <%= category.name %>,  %>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<footer class="footer-section"></footer>
